.footer {
    height: 130px;
    background-color: #0E1116;
    color: #fff;

    .flex-row,
    .wrapper {
        height: 100%;
        -webkit-align-items: center;
                align-items: center;
    }

    @media (max-width: 767px) {
        font-size: 13px;
        height: 100px;
    }

    @media (max-width: 400px) {
        font-size: 12px;

        [class*='col-'] {
            padding: 0 5px;
        }
    }

    .logo-mini {
        width: 80px;
        display: block;

        @media (max-width: 767px) {
            width: 50px;
        }

        img {
            width: 100%;
            display: block;
        }
    }
    .social {
        margin-bottom: 25px;
        color: #fff;

        @media (max-width: 767px) {
            margin-bottom: 10px;
        }

        a {
            color: inherit;
            margin: 0 6px;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;

            &:hover {
                color: #EA5B0C;
            }
        }
    }
    .powered {
        text-align: right;
        a {
            color: #FFF;
            @include transition(all,.2s);
            &:hover {
                color: #EA5B0C;
            }
        }
    }
}