.services {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (max-width: 991px) {
        padding-bottom: 50px;
    }
}

.services-box {
    width: 1480px;
    max-width: 100%;
    @include flex($alignI:flex-start, $justify: center);
    padding: 0 10px;

    .service {
        width: 20%;
        padding: 0 5px;
        color: #fff;
        text-align: center;

        @media (max-width: 991px) {
            width: 33.33%;
            margin-bottom: 40px;
            padding: 0 10px;
        }

        @media (max-width: 600px) {
            width: 50%;
        }


        figure {
            width: 100px;
            height: 90px;
            margin: 0;
            padding: 0;
            margin: 0 auto;
            position: relative;
            margin-bottom: 10px;

            @media (max-width: 450px) {
                width: 60px;
                height: 55px;
            }

            img {
                display: block;
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
                position: absolute;
                bottom: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }

        h3 {
            height: 50px;
            text-align: center;
            font-weight: 600;
            text-transform: uppercase;
            @extend %vertAlign;
            margin-bottom: 10px;

            @media (max-width: 450px) {
                font-size: 14px;
                height: 40px;
            }

            span {
                display: inline-block;
                vertical-align: middle;
                max-width: 95%;
            }
        }

        p {
            font-size: 16px;
            color: #cacaca;
            font-weight: 600;

            @media (max-width: 450px) {
                font-size: 12px;
                font-weight: normal;
            }
        }
    }
}